body {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo .nav-logo {
    color: #2e2f42;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.menu .link {
    color: #2e2f42;
}

.menu .item {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
nav a:hover {
    color: #404bbf;
}

nav a:focus {
    color: #404bbf;
    text-decoration: underline;
}

.address {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.link {
    color: #434455;
}

.address a:hover,
.address a:focus {
    color: #404bbf;
}

.main-section {
    background-color: #2e2f42;
    color: #ffffff;
}

.main-title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    line-height: 1.07;
}

.main-section .button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 24px;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.main-section .button:hover {
    background-color: #404bbf;
}

.main-section .button:focus {
    background-color: #404bbf;
}

.text-description {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 24px;
    color: #434455;
}

.title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.section-title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-cards .item {
    background-color: #ffffff;
}

.team-cards {
    background-color: #f4f4fd;
}

.portfolio {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.project-cards > h3 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}

.project-cards > p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    color: #f4f4fd;
}

.footer .text {
    letter-spacing: 0.02em;
}
.footer .logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo .footer-logo {
    color: #f4f4fd;
}
